a,
abbr,
acronym,
address,
applet,
article,
aside,
big,
blockquote,
body,
cite,
code,
dd,
del,
dfn,
div,
dl,
dt,
em,
fieldset,
font,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
html,
iframe,
img,
input,
ins,
kbd,
label,
legend,
li,
nav,
object,
ol,
p,
pre,
q,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
sup,
tt,
ul,
var {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  font-weight: inherit;
  font-style: inherit;
  font-size: inherit;
  vertical-align: baseline;
  line-height: inherit;
  box-sizing: border-box;
  -webkit-appearance: none;
}

caption,
table,
tbody,
td,
tfoot,
th,
thead,
tr {
  border-spacing: 0;
  border-collapse: collapse;
  padding: 0;
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

div {
  position: relative;
}

ol,
ul {
  list-style: none;
}

::-ms-clear {
  display: none;
}

* {
  user-select: none;
}